
@{
    ViewBag.Title = "Monitors";
}
<script type="text/javascript">

    function Save() {
        var _data = {
            Demirbas: $("#txt_Demirbas").val(),
            Brand: $("#txt_Brand").val(),
            Users: $("#txt_Users").val(),
            BrandFeatures: $("#txt_BrandFeatures").val(),
            Place: $("#txt_Place").val(),
            Status: $("#cmb_Status option:selected").val(),
            PurchaseDate: $("#txt_PurchaseDate").val(),
            InvoiceNumber: $("#txtInvoiceNum").val(),
            OldUser: $("#txtoldUser").val()
        };

        $.ajax({
            url: '@Url.Action("MonitorsAdd", "Equipment")',
            type: 'POST',
            dataType: 'json',
            data: _data,
            success: function (response) {
                if (response.Status == true) {
                    swal({
                        title: "",
                        text: response.Message,
                        type: "success",
                        showCancelButton: false,
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                    },
                     function () {
                         location.reload();
                     });

                }
                else
                    swal('', response.Message, "error");

            },
            error: function (hata, ajaxOptions, thrownError) {
                sweetAlert("Oops...", "Something went wrong!", "error");
            }
        });

        Temizle();
    }
    function Temizle() {
        $("#txt_Demirbas").val('');
        $("#txt_Brand").val('');
        $("#txt_Users").val('');
        $("#txt_BrandFeatures").val('');
        $("#txt_Place").val('');
        $("#txtInvoiceNum").val('');
        $("#txtoldUser").val('');
        $("#cmb_Status option:selected").removoAttr('selected');
        $("#txt_PurchaseDate").val('');

        
    }

    function MonitorsSend() {

        $("#mMonitorsUpdate").modal('show');
    }

</script>

<section>
    <div class="box box-primary">
        <div class="box-header">
            <!-- tools box -->
            <div class="pull-right box-tools">
                <button class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;"><i class="fa fa-minus"></i></button>
            </div><!-- /. tools -->
            <i class="fa fa-user"></i>
            <h3 class="box-title">
                Monitors Information
            </h3>
        </div>
        <div class="box-body no-padding">
            <div id="world-map" style="height: 5px;"></div>

            <div class="form-group row">
                <div class="col-xs-3">
                    <label>Demirbas</label>
                    <input class="form-control" id="txt_Demirbas" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Brand</label>
                    <input class="form-control" id="txt_Brand" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Users</label>
                    <input class="form-control" id="txt_Users" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Brand Features</label>
                    <input class="form-control" id="txt_BrandFeatures" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Place</label>
                    <input class="form-control" id="txt_Place" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Status</label>
                    <select id="cmb_Status" class="form-control">
                        <option value="Selection">Selection</option>
                        <option value="Working">Working</option>
                        <option value="Brand">Brand</option>
                   

                    </select>
                </div>
                <div class="col-xs-3">
                    <label>Purchase Date</label>
                    <input class="form-control" id="txt_PurchaseDate" type="date">
                </div>
                <div class="col-xs-3">
                    <label>Invoice Number</label>
                    <input class="form-control" id="txtInvoiceNum" type="text">
                </div>
                <div class="col-xs-3">
                    <label>Old User</label>
                    <input class="form-control" id="txtoldUser" type="text">
                </div>
            </div>


        </div><!-- /.box-body-->
        <div class="box-footer">
            <button class="btn btn-info" onclick="Save()"><i class="fa fa-save"></i> Bilgileri Kaydet</button>
            <button class="btn btn-warning" onclick="Temizle()"><i class="fa fa-repeat"></i> Temizle</button>
        </div>
    </div>


</section>
<br />
<section>
    <div class="box box-danger">
        <div class="box-header">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-wheelchair"></i><strong>Monitors Register İnformation</strong></h3>
                <div style="float:right;">
                    <select id="pageSize" class="btn btn-xs btn-default" title="Total User Number" style="float:right;">
                        <option>15</option>
                        <option>25</option>
                        <option>50</option>
                    </select>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">
            <div id="world-map" style="height: 5px;"></div>
            <div class="box-body table-responsive no-padding" style="overflow-x:scroll;">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>MonitorCode</th>       
                            <th>Demirbas</th>
                            <th>Brand</th>
                            <th>Users</th>
                            <th>BrandFeatures</th>
                            <th>Place</th>
                            <th>Status</th>
                            <th>PurchaseDate</th>
                            <th>InvoiceNumber</th>
                            <th>OldUser</th>
                            <th>Update</th>
                           


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Monitors)
                        {
                            <tr>
                                <td>@item.UserCode</td>
                                <td>@item.Demirbas</td>
                                <td>@item.Users</td>                   
                                <td>@item.Brand</td>
                                <td>@item.BrandFeatures</td>
                                <td>@item.Place</td>
                                <td>@item.Status</td>
                                <td>@item.PurchaseDate</td>
                                <td>@item.InvoiceNumber</td>
                                <td>@item.OldUser</td>
                                <td> <button type="button" onclick="MonitorsSend('@item.UserCode','@item.Demirbas','@item.Users','@item.Brand','@item.BrandFeatures','@item.Place','@item.Status','@item.PurchaseDate','@item.InvoiceNumber','@item.OldUser')" class="btn btn-xs btn-primary"><span class="fa fa-edit"></span> </button></td>       

                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>

    </div>
</section>
<div id="mMonitorsUpdate" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header"><h4>Monitors Information Update</h4><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></div>

            <div class="modal-body">

                <div class="box box-primary">

                    <div class="box-header"></div>



                    <ul class="nav nav-tabs">

                        <li class="active"><a data-toggle="tab" href="#Tab1">Monitor Information</a></li>

                        <li><a data-toggle="tab" href="#Tab2">Monitor Detail 1</a></li>


                    </ul>



                    <div class="tab-content">



                        <div id="Tab1" class="tab-pane fade in active">



                            <div class="form-group">

                                <label>MonitorsCode:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_MonitorsCode" readonly>

                                </div>

                            </div>
                            <div class="form-group">

                                <label>Demirbas:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Demirbas" readonly>

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Brand:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Brand">

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Name:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-building"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Name">

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Users:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-building"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Users">

                                </div>

                            </div>
                            <div class="form-group">

                                <label>Brand Features:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-building"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Brand Features">

                                </div>

                            </div>





                        </div>





                        <div id="Tab2" class="tab-pane fade">



                            <div class="form-group">

                                <label>Place:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Place" readonly>

                                </div>

                            </div>

                            <div class="form-group">

                                <label>Status:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-building"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Status">

                                </div>

                            </div>
                            <div class="form-group">

                                <label>Purchase Date:</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="date" class="form-control" id="m_Purchase Date" readonly>

                                </div>

                            </div>
                            <div class="form-group">

                                <label>Invoice Number</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_Invoice Number" readonly>

                                </div>

                            </div>
                            <div class="form-group">

                                <label>OldUser</label>

                                <div class="input-group">

                                    <div class="input-group-addon">

                                        <i class="fa fa-users"></i>

                                    </div>

                                    <input type="text" class="form-control" id="m_OldUser" readonly>

                                </div>

                            </div>
                        </div>


                    </div>







                </div>

                <div class="box-footer">

                    <button class="btn btn-primary" onclick="Update()"><i class="fa fa-pencil"></i>  Update</button>

                    <button class="btn btn-danger" onclick="Pasif()"><i class="fa fa-trash"></i>  Delete</button>

                </div>

            </div>

        </div>

    </div>

</div>





